<div id="colonna">
	<br>
	<br>
	<a href="/" id="titolo" title="La prima pagina di Zeriuno">
		<img id="icona" src="/apple-touch-icon.png">
	</a>
	<a href="/adr.html" title="Che cos'è Zeriuno" tabindex="0"><abbr title="A Domanda Risponde" lang="it"><span class="verde">&sect;</span><span class="scuro"> ADR</span></abbr></a>
	<br>
	<a href="/atom.xml" title="RSS" tabindex="0"><abbr title="Really Simple Syndication" lang="en"><span class="verde">&sect;</span><span class="scuro"> RSS</span></abbr></a>
	<br>
	<a href="/indice-cronologico.html" title="Dai primi articoli ad oggi, giorno dopo giorno"><span class="verde">&sect;</span><span class="scuro"> Indice cronologico</span></a>
	<br>
	<a href="/indice-tematico.html" title="Tutti gli articoli, per argomento"><span class="verde">&sect;</span><span class="scuro"> Indice tematico</span></a>
	<br>
	<a href="/" title="L'ultimo appunto pubblicato su Zeriuno"><span class="verde">&sect;</span><span class="scuro"> L'ultimo appunto</span></a>
	<br>
	<form method="get" id="search" action="http://duckduckgo.com/">
		<input type="hidden" name="sites" value="zeriuno.github.com"/>
		<input type="hidden" name="k8" value="#444444"/>
		<input type="hidden" name="k9" value="#D51920"/>
		<input type="hidden" name="kt" value="h"/>
		<input type="search" name="q" maxlength="255" placeholder="Inutile, non funziona!"/>
		<input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
	</form>
</div>