<div id="colonna">
	<div id="spazio-icona">
		<a href="/" id="titolo" title="La prima pagina di Zeriuno">
			<img id="icona" src="/apple-touch-icon.png" alt="">
		</a>
	</div>
	<a href="/adr.html" title="Che cos'è Zeriuno" tabindex="0"><abbr title="A Domanda Risponde" lang="it"><span class="colonna-link">&sect; ADR</span></abbr></a>
	<br>
	<a href="/atom.xml" title="RSS" tabindex="0"><abbr title="Really Simple Syndication" lang="en"><span class="colonna-link">&sect; RSS</span></abbr></a>
	<br>
	<a href="/indice-cronologico.html" title="Dai primi articoli ad oggi, giorno dopo giorno"><span class="colonna-link">&sect; Indice cronologico</span></a>
	<br>
	<div><span class="colonna-link">&sect; <del>Indice tematico</del> <i>in preparazione</i></span></div>
	<br>
	<form method="get" id="search" action="http://duckduckgo.com/"><!-- funzionamento aleatorio, codice recuperato da http://patdryburgh.com/blog/adding-a-custom-duckduckgo-search-bar-to-your-site/ -->
		<input type="hidden" name="sites" value="http://zeriuno.github.com"/>
		<input type="hidden" name="k8" value="#444444"/>
		<input type="hidden" name="k9" value="#D51920"/>
		<input type="hidden" name="kt" value="h"/>
		<input type="search" name="q" maxlength="255" placeholder="Ricerca, a tentoni"/>
		<input type="submit" value="DuckDuckGo Search" style="visibility: hidden;" />
	</form>
	<div  id="logo-html5">
		<a href="http://www.w3.org/html/logo/">
		<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3.png" width="133" height="64" alt="HTML5 e CSS3 / Styling" title="Questo blog &egrave; scritto in HTML5 e CSS3 validi">
		</a>
	</div>
</div><!-- colonna-->