---
layout: base
---
        {% include testata.html %}
		<div>
			<div>
                {% if page.previous %}
				    <span class="page-nav-item floatLeft"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="Leggi {{ page.previous.title }}">&larr; L'articolo precedente</a></span>
				{% endif %}
				{% if page.next %}
				    <span class="page-nav-item floatRight"><a class="internal" rel="next"  href="{{ page.next.url }}" title="Leggi {{ page.next.title }}">L'articolo successivo &rarr;</a></span>
                {% endif %}
            </div>
            <div>
                <h2>{{ page.title }}</h2>
                <span class="date" title="{{ page.date | date_to_xmlschema }}">
                    <span class="pubblicato-il">Pubblicato il</span>
                    <span class="giorno">{{ page.date | date: '%d' }}</span>
                    .
                    <span class="mese"><abbr>{{ page.date | date: '%m' }}</abbr></span>
                    .
                    <span class="anno">{{ page.date | date: '%Y' }}</span>
                </span>
                {{ content }}
            </div>
            <div class="page-nav-bottom">
                {% if post.previous %}
                    <a rel="prev"  href="{{ post.previous.url }}" title="Leggi {{ post.previous.title }}">&larr; L'articolo precedente</a>
                {% endif %}
                {% if post.next %}
                    <a rel="next"  href="{{ post.next.url }}" title="Leggi {{ post.next.title }}">L'articolo successivo &rarr;</a>
                {% endif %}
            </div>
        </div>