---
layout: base
---
        {% include testata.html %}
            <div id="articoli">
			<div>
                {% if page.previous %}
				    <span class="page-nav-item floatLeft"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="Leggi {{ page.previous.title }}">&larr; L'articolo precedente</a></span>
				{% endif %}
				{% if page.next %}
				    <span class="page-nav-item floatRight"><a class="internal" rel="next"  href="{{ page.next.url }}" title="Leggi {{ page.next.title }}">L'articolo successivo &rarr;</a></span>
                {% endif %}
            </div>
            <div class="pezzo">
	            <div class="testa-pezzo">
	            	<h2 class="titolo">
	                	<a href="{{ post.url }}" title="{{ post.title }}">{{ page.title }}</a>	                
                	</h2>
                	<span class="date" title="{{ page.date | date_to_xmlschema }}">
                    <span class="pubblicato-il">Pubblicato il</span>
                    <span class="giorno">{{ page.date | date: '%d' }}</span>
                    .
                    <span class="mese"><abbr>{{ page.date | date: '%m' }}</abbr></span>
                    .
                    <span class="anno">{{ page.date | date: '%Y' }}</span>
                	</span>
                </div> <!-- testata-pezzo-->
	            <div class="testo-articolo">
                {{ content }}
                </div><!--testo-articolo-->
            </div><!-- pezzo-->
            <div class="page-nav-bottom">
                {% if post.previous %}
                    <a rel="prev"  href="{{ post.previous.url }}" title="Leggi {{ post.previous.title }}">&larr; L'articolo precedente</a>
                {% endif %}
                {% if post.next %}
                    <a rel="next"  href="{{ post.next.url }}" title="Leggi {{ post.next.title }}">L'articolo successivo &rarr;</a>
                {% endif %}
                <script><!-- commenti-->
var idcomments_acct = '793549c074a634022fb854e2453f6543';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
            </div><!-- pezzo-->
        </div><!-- articoli-->